<div class="text-center text-4xl font-bold mt-6 mb-8">Categories</div>
<app-loader *ngIf="isLoading == true"></app-loader>
<div class="max-w-7xl mx-auto pb-12">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-4 sm:px-6"
  >
    <div
      *ngFor="let cat of categories"
      (click)="navigateToListing(cat)"
      class="bg-[#D6EEFF] rounded-2xl p-8 text-center cursor-pointer border border-transparent hover:border-blue-400 hover:shadow-xl hover:scale-105 transition-all duration-300 flex flex-col items-center justify-center min-h-[240px] shadow-sm"
    >
      <img
        [src]="cat.iconUrl"
        [alt]="cat.name"
        class="w-20 h-20 mx-auto mb-6 drop-shadow-md"
      />
      <div class="text-xl font-semibold text-blue-900 mb-2">{{ cat.name }}</div>
    </div>
  </div>
</div>
