<div class="flex flex-col justify-center items-center">
  <h1 class="font-bold text-3xl mb-3">Dental Lab / Materials</h1>

  <div
    class="w-11/12 justify-center items-center bg-white border border-gray-200 rounded-lg shadow-sm"
  >
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select tab</label>
      <select
        id="tabs"
        class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option>Clinical</option>
        <option>Pre-Clinical</option>
      </select>
    </div>
    <ul
      class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex rtl:divide-x-reverse"
      id="fullWidthTab"
      data-tabs-toggle="#fullWidthTabContent"
      role="tablist"
    >
      <li class="w-full">
        <button
          id="stats-tab"
          data-tabs-target="#stats"
          type="button"
          role="tab"
          aria-controls="stats"
          aria-selected="true"
          class="inline-block w-full p-4 rounded-ss-lg bg-gray-50 hover:bg-gray-100 focus:outline-none text-xl"
        >
          Clinical
        </button>
      </li>
      <li class="w-full">
        <button
          id="about-tab"
          data-tabs-target="#about"
          type="button"
          role="tab"
          aria-controls="about"
          aria-selected="false"
          class="inline-block w-full p-4 bg-gray-50 hover:bg-gray-100 focus:outline-none text-xl"
        >
          Pre-Clinical
        </button>
      </li>
    </ul>
    <div id="fullWidthTabContent" class="border-t border-gray-200">
      <div
        class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 lg:gap-6 p-4 bg-white rounded-lg md:p-8"
        id="about"
        role="tabpanel"
        aria-labelledby="about-tab"
      >
        @for (item of clinicalproduct; track $index) {
        <app-product-card [product]="item"></app-product-card>
        }
      </div>
      <div class="justify-center items-center flex mb-5">
        <nav class="flex items-center space-x-2">
          <button
            class="text-gray-500"
            [disabled]="currentPage === 1"
            (click)="goToPage(currentPage - 1)"
          >
            Prev
          </button>

          <ng-container *ngFor="let page of pages">
            <button
              class="w-8 h-8 rounded-full border text-black"
              [ngClass]="{
                'bg-blue-600 text-white border-blue-600': page === currentPage,
                'hover:bg-blue-100': page !== currentPage
              }"
              (click)="goToPage(page)"
            >
              {{ page }}
            </button>
          </ng-container>

          <button
            class="text-gray-500"
            [disabled]="currentPage === totalPages"
            (click)="goToPage(currentPage + 1)"
          >
            Next
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>
