<div class="flex flex-col lg:flex-row mt-8 bg-white space-x-5 p-4 rounded-2xl border border-gray-300 shadow-md mb-5 w-3/4 justify-self-center items-center">
    <div class="rounded-full w-24 float-left bg-[#3BA3DB] ">
        <img [src]="avatarSrc" class="bg-cover">
    </div>
    <div>
        <div class="flex flex-col lg:flex-row justify-center items-center min-h-full">
        <h3 class="font-bold text-2xl">{{userName}}</h3>
        <span class="text-gray-600 ms-4 flex"><span>&commat;</span> {{generatedName}}</span>
        <span class="bg-emerald-100 font-semibold mt-2 lg:mt-0 flex ms-4 rounded-xl px-3 py-1 text-emerald-700 capitalize">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-emerald-500 mr-1" fill="var(--color-emerald-500)" viewBox="0 0 24 24" width="25" height="25">
                <path d="M12 1.75l2.44 1.02 2.57-.04.89 2.45 2.2 1.56-.62 2.6 1.4 2.2-1.4 2.2.62 2.6-2.2 1.56-.89 2.45-2.57-.04L12 22.25l-2.44-1.02-2.57.04-.89-2.45-2.2-1.56.62-2.6-1.4-2.2 1.4-2.2-.62-2.6 2.2-1.56.89-2.45 2.57.04L12 1.75zm-1.12 13.61l5.14-5.14-1.41-1.41-3.73 3.73-1.59-1.59-1.41 1.41 3 3z"/>
            </svg>

            {{verificationStatus}}</span>
        </div>
        <p class="text-gray-600 mt-2 ms-2">{{userUniversity}}</p>
        <div class="flex mt-2">
            <span class="flex space-x-2 font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" viewBox="0 0 24 24" width="25" height="25" fill="var(--color-blue-900)">
                <path d="M12 3L2 8l10 5 10-5-10-5z"/>
                <path d="M4 11v5c0 2 3.6 3.5 8 3.5s8-1.5 8-3.5v-5l-8 4-8-4z"/>
                <path d="M18 8.8v4.2a2 2 0 1 0 2 0V7.8l-2 .9z"/>
                </svg>

                {{academicYear}}</span>
            <span class="flex ms-5 font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" viewBox="0 0 24 24" width="25" height="25" fill="var(--color-amber-300)">
                 <path d="M12 2l2.94 6.45L22 9.27l-5 4.87L18.18 22 12 18.5 5.82 22 7 14.14l-5-4.87 7.06-.82L12 2z"/>
                </svg>
                {{rating}}</span>
            
        </div>
    </div>
</div>
<!-- <div class="flex flex-col items-center justify-center md:flex-row mb-4">
    <div class="rounded-full p-4 m-7 sm:w-2xs w-1/2 shadow-2xl bg-[#3BA3DB] flex items-center justify-center">
        <img src="/assets/avatar/tooth-extraction.png" class="bg-cover">
    </div>
    <div class="rounded-2xl border border-gray-300 shadow-md p-4 m-8 w-fit lg:w-2xl ">
        <div class="flex lg:mb-5 lg:mx-4">
            <h3 class="italic text-xl font-bold capitalize lg:text-3xl">{{userName}}</h3>
            <div class="bg-[#222A68] px-5 rounded-2xl mx-6 ">
                <h3 class="italic text-md font-bold text-white lg:text-2xl ">{{academicYear}}</h3>
            </div>
            
        </div>
        <div class="grid grid-cols-2 lg:pb-5">
                <div class="flex items-center ml-4 my-2">
                    <img class="w-4 lg:w-7 " src="/assets/Icons/UserName.png">
                    <h3 class="text-sm  font-semibold mx-2 capitalize lg:text-xl">{{generatedName}}</h3>
                </div>
                <div class="flex items-center my-2">
                    <img src="/assets/Icons/verification.png" class="w-4 lg:w-7">
                    <h3 class="text-sm font-semibold mx-2 capitalize lg:text-xl ">{{verificationStatus}}</h3>
                </div>
                <div class="flex items-center ml-4 my-2">
                    <img src="/assets/Icons/location.png" class="w-4 lg:w-7">
                    <h3 class="text-sm font-semibold mx-2 capitalize lg:text-xl ">{{userUniversity}}</h3>
                </div>
                <div class="flex items-center my-2">
                    <img src="/assets/Icons/emailProfile.png" class="w-4 lg:w-7">
                    <h3 class="text-xs font-semibold mx-2 capitalize lg:text-xl  pr-2">{{userEmail}}</h3>
                </div>
                <div class="flex items-center ml-4 my-2">
                    <img src="/assets/Icons/phone.png" class="w-4 lg:w-7">
                    <h3 class="text-sm font-semibold mx-2 capitalize lg:text-xl ">{{userPhoneNumber}}</h3>
                </div>
                <div class="flex items-center ml-4 my-2 lg:ml-0">
                    <img src="/assets/Icons/address.png" class="w-4 lg:w-7">
                    <h3 class="text-sm font-semibold mx-2 capitalize lg:text-xl ">{{userAddress}}</h3>
                </div>
                <div class="flex justify-end col-end-3 mx-3">
                <button class="bg-[#0077B6] mt-4 w-fit text-white font-bold px-4 py-1 rounded-2xl col-end-3 text-xs md:text-base">Edit Profile</button>
            </div>
            
    </div>
</div>
</div> -->