@import "tailwindcss";
@plugin "tailwindcss-primeui";


body {
    font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
input[type="search"]::-ms-clear {
  display: none;
}
input[type="search"]::-o-clear {
  display: none;
}
input[type="search"]::-moz-clear {
  display: none;
}

input[type="search"]:focus {
  border-color: #2563eb !important; /* Tailwind blue-600 */
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2); /* Subtle blue shadow */
  background-color: #fff;
}